@charset "utf-8";
/* CSS Document */

html{background-color:#fff; /*background-color:#F2F6FA;*/}
body{ margin:0 auto; padding:0; font-size:12px;background-color:#fff; /*background-color:#F2F6FA;*/ color:#666666;}
a{ color:#000; text-decoration:none;}
a:hover{ color:#930; text-decoration:underline;}
img{ border:0;}



.os_nav{ width:auto;}
.os_nav li{ height:24px; line-height:24px; color:#666; padding-top:10px; padding-bottom:10px; list-style-type:none; padding-left:20px;}
.os_nav li a{ height:29px; line-height:29px; width:130px; background:url(../images/button.jpg) no-repeat; display:inline-block; color:#FFF; text-align:center;}
.os_nav li a:hover{  display:inline-block;color:#FFF; text-align:center;}



/* 清除浮动 */
.hackbox{clear:both;}

.clearfloat { clear:both; height:0; font-size: 1px; line-height: 0px;}
.DateR{ float:right;}
.DateFollow{ float:left;}


.h4{ font-size:14px; color:#666666;}
.formbg{ background:url(../images/bg.jpg) repeat-x bottom #FFF; }
.formbg{ border-collapse:collapse; }
.formbg td{ border:#F2F2F2 solid 1px; padding:8px; }

.formNoBorder{background:#ffffff;border-collapse:collapse; }
.formNoBorder td{ border:none; padding:8px; }

.border001{border-right:#F2F2F2 solid 1px; border-bottom:#F2F2F2 solid 1px; border-top:#F2F2F2 solid 1px;}

.form001{background:#ffffff; font-size:14px;}
.form001 td{ padding:8px; }

.form002{ font-size:14px;}

.icon01{ background:url(../images/icon01.png) no-repeat; height:30px; line-height:30px; width:30px; display:block;}
.icon02{ background:url(../images/icon02.jpg) no-repeat; height:30px; line-height:30px; width:30px; display:block;}

/*表格样式

table{ border-collapse:collapse; }
td{ border:#F2F2F2 solid 1px; padding:8px; }
*/

.PY_input{border-top-color: rgb(153, 153, 153); border-right-color: rgb(201, 201, 201); border-bottom-color: rgb(201, 201, 201); border-left-color: rgb(153, 153, 153); background-color: rgb(255, 255, 255); height:20px; padding-top:5px;  font-size:14px; }
.select{ border-color:#a5c760; background-color:#f4ffd4;}


input, textarea {
border-color: #C4C7BD #EFEFEF #F2F2F2 #D2D5CA;
border-style: solid;
border-width: 1px;
color: #333;
padding: 3px 2px 1px;
}
input, textarea, select {
}
input {
line-height: 1.2em;
overflow: hidden;
}
input, textarea {
margin: 0;
padding: 0;
font-size: 12px;
font-family: Arial,Helvetica,sans-serif;
outline: none;
color: #333;
}

.lsbb {
background-color: #4D90FE;
background-image: -webkit-gradient(linear,left top,left bottom, from(#4d90fe),to(#4787ed));
background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
background-image: linear-gradient(top,#4d90fe,#4787ed);
border: 1px solid #3079ED;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
display: inline-block;
filter: progid:DXImageTransform.Microsoft.gradient( startColorStr='#4d90fe',EndColorStr='#4787ed');
height: 29px;
width: 70px;
line-height:29px;
text-align:center;
}
.lsbb span{ color:#FFF; width:70px; height:29px; display:inline-block; text-align:center;font-weight:bold;cursor:pointer;}

/*
input:not([type]), input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
padding: 1px 0px;
}
input, input[type="password"], input[type="search"], isindex {
-webkit-appearance: textfield;
padding: 1px;
background-color: white;
border: 2px inset;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
cursor: auto;
}
input, textarea, keygen, select, button, isindex {
margin: 0em;
font: -webkit-small-control;
color: initial;
letter-spacing: normal;
word-spacing: normal;
line-height: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: -webkit-auto;
}
*/

.green{ color:#2DA300;}

#page-box{ width:1024px; height:100px;min-height:100px; height:auto !important; margin:25px auto 90px auto;}
#page-content {
	 float:left;
width: 480px;
padding: 25px;
background-color: white;
border-color: #CED5E0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
margin: 25px 0px 90px 20px;
}

#page-content2 {
width: 780px;
padding: 25px;
background-color: white;
border-color: #CED5E0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
margin: 25px auto 90px auto;
}

#login-content {
	float:right;
width: 380px;
padding: 25px;
background-color: white;
border-color: #CED5E0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
margin: 25px 0px 90px 20px;
}

#loading{ color:#666;}
#loading p a{ color:#09F;}
.input_validation-failed { border: 1px solid #BB6666; color:#BB6666; background-color:#FFEFEF;}
.fileslist{ color:#666; margin:0;}
.fileslist li{ margin-left:20px; height:20px; line-height:20px; list-style-type:none; list-style:none;float:left; clear:left;}
.fileslist li a{color:#4787ed; text-decoration:underline;}
.fileslist li a:hover{color:#930; text-decoration:underline;}
.downfile{ background:url(../images/dn.gif) no-repeat center; width:16px; height:20px;}
